<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-item>
      <ion-input type="email" formControlName="email" label="Correo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        type="password"
        formControlName="password"
        label="Contraseña"
      ></ion-input>
    </ion-item>

    @if (errorMessage() != null) {
    <p class="error-message">{{ errorMessage() }}</p>
    }

    <ion-button type="submit" expand="block" [disabled]="isLoading()">
      Iniciar Sesión
    </ion-button>

    <ion-button fill="clear" routerLink="/register">
      ¿No tienes cuenta? Regístrate
    </ion-button>
  </form>
</ion-content>
